<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="painting.component.css">
</head>

<body>
  <div class="gallery">
    <div *ngFor="let painting of paintings" class="thumbnail">
      <img 
        [src]="painting.imageUrl" 
        alt="{{painting.title}}" 
        (click)="selectPainting(painting)"
        class="thumbnail-img"
      />
      <p>{{ painting.title }} ({{ painting.year }})</p>
    </div>
  </div>

  <div *ngIf="selectedPainting" class="painting-details">
    <img [src]="selectedPainting.imageUrl" alt="{{selectedPainting.title}}" class="full-image" />
    <h2>{{ selectedPainting.title }}</h2>
    <p><strong>Автор:</strong> {{ selectedPainting.author }}</p>
    <p><strong>Год:</strong> {{ selectedPainting.year }}</p>
    <p><strong>Размеры:</strong> {{ selectedPainting.dimensions }}</p>
    <p><strong>Место положение:</strong> {{ selectedPainting.location }}</p>
    <button (click)="selectedPainting = null">К картинам</button>

  </div>

  <!-- Отображаем миниатюры других картин автора -->
  <div class="related-paintings" *ngIf="getPaintingsBySameAuthor().length > 0">
    <h3>Другие картины {{ selectedPainting?.author }}:</h3>
    <div class="thumbnail" *ngFor="let painting of getPaintingsBySameAuthor()">
      <img [src]="painting.imageUrl" alt="{{ painting.title }}" (click)="selectPainting(painting)"
        class="thumbnail-img" />
      <p>{{ painting.title }} ({{ painting.year }})</p>
    </div>
  </div>

</body>

</html>