body {
    background-color: burlywood;
    font-family: "Great Vibes", cursive;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 5vw; /* адаптивный размер шрифта в зависимости от ширины окна */
}